.git
.DS_Store
**/__pycache__
**/*.pyc
node_modules
.env
.local
workspace
test
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
doc
deploy
logs 
test
.vscode
.idea
.cursor
.cursorignore
.gitattributes
.github
.local
.venv
.sonarlint
