.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.imageContainer {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  height: calc(100% - 6rem);
  min-height: 0;
}

.image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  width: auto;
  height: auto;
}

.thumbnailContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6rem;
  border-top: 1px solid rgba(55, 65, 81, 1);
  background-color: rgba(31, 41, 55, 1);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}

.thumbnailWrapper {
  flex: 1;
  margin: 0 3.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.counterContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.25rem;
}

.loadingContainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.emptyContainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
} 